mark {
	background: #99e6e6;
	color: black;
	/*text-decoration: underline;*/
	/*text-decoration-color: #99e6e6;*/
}

/* Added for highlight.js jQuery plugin */
.highlight {
	background-color: #99e6e6;
	/*color: black;*/
}